.engButton{
  width: 5rem;
  height: 2rem;
  margin-right: 1rem;
}
.ruButton{
  width: 5rem;
  height: 2rem;

}
.langButtons{
  
}

.App {
  display: flex;
  align-items: center;
  height: 100vh;
  background-color: #000000;
  overflow-x: hidden;
}

.App-Container {
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 7rem;
  margin-bottom: 7%;

}

.column {
  
  display: flex;
  flex-direction: column;
  width: 70%; /* Ensure column takes up 60% of the width */
  background-color: rgb(2, 1, 0);
}

.App-Text {
  text-align: left;
  color: rgb(255, 255, 255);
  font-size: 2.6rem;
  z-index: 1;
}

.App-Logo {
  width: 30%; /* Ensure App-Logo takes up 40% of the width */
  text-align: right;
  /* Ensure background color is visible */
  display: flex; /* Use flexbox to align items */
  justify-content: center; /* Center content horizontally */
}

.Buttons {
  display: flex;
  gap: 10px; /* Adjust as needed */
  align-items: left;
}

.AppleButton {
  display: flex;
  align-items: left;
  margin-top:0.1rem;
  
}

.GooglePlayButton {
  display: flex;
  
  

}

.whiteGooglePlay{
  width: 13.1rem; 
  height: 4.1rem;
  cursor: pointer;
  margin-bottom: 1rem;
  

}

.AppleLogo {
  
  width: 12rem; /* Increase the width to make the button larger */
  height: auto;
}

.carousel {
  
  position: absolute;
  /* top: 50%; */
  left: 75%;
  bottom: 65%;
  /* width: 200px;
  height: 200px; */
  transform-style: preserve-3d;
  animation: rotate 20s infinite linear;
  
  
}
  
.carousel__item {
  position: fixed;
  /* top: 50%;
  left: 50%; */
  width: 6rem;
  height: 6rem;
  /* transform-origin: 50% -150px;  */
  transform-origin: center center;
  transform: rotateY(calc(var(--i) * 72deg)) translateZ(15rem); /* Position items around a circle */
}

.carousel__item img {
  width: auto;
  height: 400%;
  transform: rotateY(calc(-1 * var(--i) * 72deg)) translateZ(180); /* Keep images upright */
}
  
@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
  
@media (max-width: 1200px) and (min-width: 960px) {
  .App-Text {
    font-size: 2rem; /* Decrease font size */
  }

  .AppleLogo {
    width: 9rem; /* Decrease button width */
    margin-top: 0.05rem;
  }

  .whiteGooglePlay{
    margin-top: 0.1rem;
    width: 9.8rem; /* Increase the width to make the button larger */
    height: auto;
  
  }

  .carousel {
  
    position: absolute;
    /* top: 50%; */
    left: 75%;
    bottom: 60%;
  }

  .carousel__item img {
    width: auto;
    height: 300%;
  }

  .carousel__item {
    width: auto;
    height: 6rem;
    transform: rotateY(calc(var(--i) * 72deg)) translateZ(10rem);
  }
}


  


  
@media (max-width: 960px) {
  .App-ContainerM {
    display: flex;
    flex-direction: column; /* Stack text and carousel vertically */
    width: 100hh;
    height:100vh;
    background-color: rgb(10, 3, 3);
    align-items: center;
    /* justify-content: center; */
  }

  

  .App-TextM {
    color:rgb(255, 255, 255);
    text-align: center; /* Center the text */
    font-size: 2rem; /* Adjust font size */
  }

  .ButtonsM {
    display: flex;
    gap: 10px; /* Adjust as needed */
    align-items: center;
 
  }

  .AppleButtonM{
    align-items: center;
    margin-bottom: 3rem;
  }
  .AppleLogo{
    height: 3.5rem;
    width: auto;

  }

  .GooglePlayButtonM{
   
    margin-bottom: 3rem;
    cursor: pointer;
    

  }

  .whiteGooglePlayM{
    
    height: 3.58rem;
    width: auto;

  }


  .carouselM {
    
    position: relative;
    width: 2rem;
    height: 2rem;
    transform-style: preserve-3d;
    animation: rotate 20s infinite linear;
    z-index: 2;
  
    
  }
  
  .carousel__itemM {
    position: absolute;
    width: 75px;
    height: 75px;
    /* top: 50%;
    left: 50%; */
    transform-origin: center center;
  transform: rotateY(calc(var(--i) * 72deg)) translateZ(10rem);
  }
  
  .carousel__itemM img {
    width: auto;
    height: 300%;
  }

  .App-TextPlaceHolder{
    color: #000000;
  }
  
  @keyframes rotate {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }
}